node_modules/
out/
dist/
*.vsix
.vscode-test/
*.log
.DS_Store
# Only ignore user-specific VS Code settings; keep launch/tasks configs
.vscode/settings.json
.vscode/*.code-workspace
.venv/
test/test_python/.vscode/launch.json
c_cpp_properties.json
docs\requirements.md

*.db
*.db-shm
*.db-wal
docs\requirements.md
settings.json